```bash
$ neofetch
```

<img src="resources/profile.jpg" alt="Profile image" align="left" width="280px" />

```csharp
hugorplobo@github
------------------
OS: Ubuntu 22.04
Shell: zsh
Location: Ceara, Brazil
Knowledge: Js, Python, C, C++
Learning: Rust
Hobbies: Reading
Repos: {{ publicRepos }}
Starred: {{ totalStarred }}
Discord: knexx#8468
Instagram: hugo.cpp
Email: hugorplobo@gmail.com

```
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="./resources/colors.png" alt="Profile colors" width="220px" />
